.SearchTitle {
    margin-bottom: .25em;
}

.SearchControls {
    display: flex;
}

.SearchInput {
    width: 100%;
    display: block;
    font-size: .9em;
    padding: 0.5em;
    border: 2px solid var(--col-primary-shade);
    font-size: 1em;
    border-left: none;
    border-right: none;
}
.SearchInput:focus, .SearchButton:active, .SearchButton:focus {
    outline: 0 transparent;
}

.SearchTypeSelect {
    border-right: none;
    border: 2px solid var(--col-primary-shade);
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
    font-size: 1em;
    padding: .5em;
}

.SearchButton {
    border: 2px solid var(--col-primary-shade);
    background-color: var(--col-accent);
    border-left: none;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

