.BookWrapper {
    display: flex;
    padding: 1em 0;
}
.BookMeta {
    line-height: 1.35;
}
.BookCover {
    margin-right: 1em;
}

.BookAuthorLinks {
    margin-top: auto;
}

.BookPublishedDate {
    font-size: .9em;
    color: #333;
}

.BookDescription {
    margin: 1em 0;
}